body {
  margin: 0;
  background-color: #a8a7a8;
}

html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

*,
:after,
:before {
  box-sizing: inherit;
}

.item-pt {
  -webkit-box-flex: 1;
  flex-grow: 1;
  text-align: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
